In [4]:
import pandas as pd
import seaborn
import numpy as np # linear algebra

import matplotlib.pyplot as plt
plt.style.use("ggplot")

In [5]:
# Read the demand data for past 3 years
df =  pd.read_csv("directory.csv")
df.head()

,Unnamed: 0,Name,Province,Climate ID,Station ID,WMO ID,TC ID,Latitude (Decimal Degrees),Longitude (Decimal Degrees),Latitude,Longitude,Elevation (m),First Year,Last Year,HLY First Year,HLY Last Year,DLY First Year,DLY Last Year,MLY First Year,MLY Last Year
0,0,ACTIVE PASS,BRITISH COLUMBIA,1010066,14,NaN,NaN,48.87,-123.28,485200000,-1231700000,4.0,1984,1996,NaN,NaN,1984.0,1996.0,1984.0,1996.0
1,1,ALBERT HEAD,BRITISH COLUMBIA,1010235,15,NaN,NaN,48.40,-123.48,482400000,-1232900000,17.0,1971,1995,NaN,NaN,1971.0,1995.0,1971.0,1995.0
2,2,BAMBERTON OCEAN CEMENT,BRITISH COLUMBIA,1010595,16,NaN,NaN,48.58,-123.52,483500000,-1233100000,85.3,1961,1980,NaN,NaN,1961.0,1980.0,1961.0,1980.0
3,3,BEAR CREEK,BRITISH COLUMBIA,1010720,17,NaN,NaN,48.50,-124.00,483000000,-1240000000,350.5,1910,1971,NaN,NaN,1910.0,1971.0,1910.0,1971.0
4,4,BEAVER LAKE,BRITISH COLUMBIA,1010774,18,NaN,NaN,48.50,-123.35,483000000,-1232100000,61.0,1894,1952,NaN,NaN,1894.0,1952.0,1894.0,1952.0

In [6]:
df1 = df[(df['HLY First Year'].notnull()) & (df['Province'] == 'ONTARIO') & (df['HLY First Year'] <= 2016) & (df['HLY Last Year'] >= 2016 )]

df1.head()

,Unnamed: 0,Name,Province,Climate ID,Station ID,WMO ID,TC ID,Latitude (Decimal Degrees),Longitude (Decimal Degrees),Latitude,Longitude,Elevation (m),First Year,Last Year,HLY First Year,HLY Last Year,DLY First Year,DLY Last Year,MLY First Year,MLY Last Year
5100,5100,ATTAWAPISKAT A,ONTARIO,6010400,52918,71653.0,YAT,52.93,-82.43,525539000,-822555000,9.1,2015,2019,2015.0,2019.0,2015.0,2019.0,NaN,NaN
5101,5101,BIG TROUT LAKE A,ONTARIO,6010735,49488,71675.0,YTL,53.82,-89.90,534904000,-895349000,222.5,2011,2019,2011.0,2019.0,2011.0,2019.0,NaN,NaN
5104,5104,BIG TROUT LAKE,ONTARIO,6010740,50857,71208.0,OTL,53.82,-89.89,534858000,-895330000,222.5,2012,2019,2012.0,2019.0,2012.0,2019.0,NaN,NaN
5108,5108,EAR FALLS (AUT),ONTARIO,6012199,27865,71295.0,XEA,50.63,-93.22,503750000,-931317000,362.6,1999,2019,2000.0,2019.0,1999.0,2019.0,1999.0,2006.0
5112,5112,FORT SEVERN A,ONTARIO,6012501,51219,71099.0,YER,56.02,-87.68,560108000,-874034000,15.8,2013,2019,2013.0,2019.0,2013.0,2019.0,NaN,NaN

In [7]:
def get_station_id(province, start_year, city):
    
    # Read the demand data for past 3 years
    df =  pd.read_csv("directory.csv")
    df1 = df[(df['HLY First Year'].notnull()) & (df['Province'] == str(province).upper()) & (df['HLY First Year'] <= start_year) & (df['HLY Last Year'] >= start_year )]
    df1 = df1[df1['Name'].str.contains(city.upper())]
    return df1

In [20]:
get_station_id('ONTARIO', 2010, 'niagara').head()

Empty DataFrame
Columns: [Unnamed: 0, Name, Province, Climate ID, Station ID, WMO ID, TC ID, Latitude (Decimal Degrees), Longitude (Decimal Degrees), Latitude, Longitude, Elevation (m), First Year, Last Year, HLY First Year, HLY Last Year, DLY First Year, DLY Last Year, MLY First Year, MLY Last Year]
Index: []